@page "/home"
@inject NavigationManager _navigation

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


Welcome to your new app.

@code {
    private void NavigateToRegister ()
    {

    }

    private void NavigateToLogin()
    {
        
    }
}